# Ignore everything
*

# Allow specific files/dirs
!.gitignore
!.zshrc

!.zshenv
!.zprofile
!.bashrc
!.bash_profile
!.profile
!.gitconfig

!.config/

# Editors / terminal
!.config/nvim/
!.config/nvim/**
!.config/ghostty/
!.config/ghostty/**

# Window manager / UI
!.config/hypr/
!.config/hypr/**
!.config/fuzzel/
!.config/fuzzel/**

# CLI tools
!.config/bat/
!.config/bat/**
!.config/starship.toml
!.config/fastfetch/

# File manager / UI basics
!.config/Thunar/
!.config/Thunar/**
!.config/mimeapps.list

# Theming / visuals (optional)
!.config/gtk-3.0/
!.config/gtk-4.0/

!.config/mpv/
!.config/zathura/
!.config/qt5ct/
!.config/qt6ct/

!.config/all_installed_pkgs.txt
!.config/all_installed_aur_pkgs.txt
!.config/scripts/
