.env
Downloads
.cache
.local
.cargo
git_repositories
.git_credentials
.lesshst
.pki
.viminfo
.mozilla
pulse
go
.dotfiles/objects
.dotfiles
nohup.out
.bash_history
.bash_logout
.gitconfig
.dotnet
.config/Code
.config/pulse
.config/dconf
.git-credentials
